//--------------------------------
// Minimal Base Styles, Normally needs to be customized
//--------------------------------

@import "susy-default";
body, select, input, textarea { color: $font-color; }

html { @include force-scrollbar; }

td img { vertical-align: top; }

sub { @include sub; }

sup { @include sup; }

@include accessible-focus;

//@include quoted-pre;

@include align-input-labels;

@include hand-cursor-inputs;

@include selected-text;

@include webkit-tap-highlight;

@include ie-hacks;


/* embed special fonts */
@font-face {
	font-family: 'Lobster13Regular';
	src: url('fonts/Lobster_1.3-webfont.eot');
	src: local('‚ò∫'), url('fonts/Lobster_1.3-webfont.woff') format('woff'), url('fonts/Lobster_1.3-webfont.ttf') format('truetype'), url('fonts/Lobster_1.3-webfont.svg#webfontHqICmWr8') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CaviarDreamsRegular';
	src: url('fonts/CaviarDreams-webfont.eot');
	src: local('‚ò∫'), url('fonts/CaviarDreams-webfont.woff') format('woff'), url('fonts/CaviarDreams-webfont.ttf') format('truetype'), url('fonts/CaviarDreams-webfont.svg#webfontdHSnsI35') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* added site specific styles */
input:not([type="submit"]), textarea {
  @include border-radius(5px);
  height: auto;
  border: 1px solid #CCC;
  @include sans-family; 
  font-size: 14px;
  padding: 0.3em;
  width: 66%;
  display: block;
}
input[type="radio"], input[type="checkbox"] {
  width: auto;
  display: inline;
}
/* avatar */
.avatar {
  width: 50px;
  height: 50px; 
}

/* errors, notices, warnings etc */
#flash_notice,
#flash_error,
#flash_alert {
  z-index: 100;
  position: fixed;
  color: white;
  top: -100px;
  left: 0;
  width: 100%;
  padding: 1em;
  -moz-box-shadow: 0 1px 2px #333333;
  -webkit-box-shadow: 0 1px 2px #333333;
  font-weight: bold; 
}

#flash_notice {
  background-color: #7ef04d;
  background-color: rgba(126, 240, 77, 0.98);
  text-shadow: 0 1px #66cc66; 
}

#flash_error,
#flash_alert {
  background-color: #d0312b;
  background-color: rgba(208, 49, 43, 0.98);
  border-bottom: solid 1px #cc6666;
  text-shadow: 0 1px #cc6666; 
}

.fieldWithErrors {
  display: inline; 
}

.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px; 
}
.error_messages h2 {
  text-align: left;
  padding: 5px 5px 5px 15px;
  margin: 0;
  font-weight: bold;
  font-size: 12px;
  background-color: #cc0000; 
}
.error_messages p {
  margin: 8px 10px; 
}
.error_messages ul {
  margin: 0; 
}
.header_logo {
    position: relative;
    top: 4px;
    margin-right: 1em;
}

.floating {
  @include border-radius(2px);
  @include box-shadow(#333, 0, 1px, 5px, 0);
  background-color:white;
  border-bottom:1px solid #CCCCCC;
  border-top:1px solid white;
  padding:12px;
  position:relative;
}

h1 .description, h2 .description, h3 .description, h4 .description {
    color: #CCCCCC;
    font-size: 70%;
    font-weight: 100;
    margin-top: 0.3em;
}
h3 span.current_gs_step {
  color: #22C910;
}



.bottom_notification {
  background-color:rgba(16, 127, 201, 0.8);
  bottom:0;
  color:white;
  font-size:14px;
  font-weight:bold;
  left:0;
  padding:12px 12px 10px;
  position:fixed;
  text-align:center;
  width:100%;
}