#signup_steps_instruction {
 h1 {
  text-align: right;
  font-size: 2em;
  margin-bottom: 0.3em;
  }
  h3 {
    text-align: right;
    font-size: 1.1em;
  }  
}

h1 .description, h2 .description, h3 .description, h4 .description {
    color: #CCCCCC;
    font-size: 70%;
    font-weight: 100;
    margin-top: 0.3em;
}
h3 span.current_gs_step {
  color: #22C910;
}

#user_searchable {
  display: inline;
}
