header {
  @include adjust-font-size-to(32px);
  @include leader(1,32px);
  @include trailer(1,32px);
  //h1 {
  //  @include adjust-font-size-to(32px);
  //}
  h1 a:link, h1 a:visited {
		color: $base;
		display: block;
		font-weight: bold;
		margin: 0 0 .6em 0;
		text-decoration: none;
	}
	h1 a:hover, h1 a:active {
		background: none;
		color: $alt;
		text-shadow: none;
	}
	h1 strong {
	  @include adjust-font-size-to(16px);
	  font-weight: normal;
	}  
}