header {
  //@include adjust-font-size-to(32px);
  //@include leader(1,32px);
  //@include trailer(1,32px);
  //h1 {
  //  @include adjust-font-size-to(32px);
  //}
  h2 {
    a:link, a:visited {
  		color: $base;
  		display: block;
  		font-weight: bold;
  		margin: 0 0 .6em 0;
  		text-decoration: none;
  	}
  	a:hover, a:active {
  		background: none;
  		color: $alt;
  		text-shadow: none;
  	}
    strong {
  	  @include adjust-font-size-to(8px);
  	  font-weight: normal;
  	}  
	}
	
  ul#user_menu .avatar {
    height: 20px;
    width: 20px;
    position: absolute;
    left: 2px;
    top: 2px;
    display: block; 
  }
}


