header {
  z-index: 4;
  position: relative;
  min-height: 40px;
  
  a:link, a:visited {
		margin: 0 0 .6em 0;
		text-decoration: none;
	}
	a:hover, a:active {
		background: none;
		text-shadow: none;
	}	
  
  #landing_nav {
    position: absolute;
    right: 0;
    top: 0px;
    margin: 0;
    padding: 0;
 
    li {
      display: inline;
      margin-right: 0.5em;
    }
  }
  
	
	ul#user_menu {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-shadow: 0 1px 0 #000;
    font-size: 0.8em;
    width: auto;

    cursor: pointer;

    z-index: 10;
    padding: 5px 5px 5px 30px;
    margin: -2px 0px 0 0;

    background-color: #fff;

    @include border-radius(5px);

    position: absolute;
    display: inline;

    top: 5px;
    right: 0;
    
    a {
      padding-right: 15px;
      text-decoration: none;
    }
    
    li {
      display: none;
      a {
        display: block;
        padding: 4px;
        height: 100%;
      }
      a:hover {
        background-color: #ccc;
        color: #000;
      }
    }
  }
  ul#user_menu.active {
    margin-top: -3px;
    margin-right: -6px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px #ccc;
    -webkit-box-shadow: 0 1px 2px #ccc;
    -moz-box-shadow: 0 1px 2px #ccc;
    li {
      display: block;
    }
  }
  
  #drop_down_symbol {
    position: absolute;
    right: 5px;
    font-size: 0.75em;
  }
  ul#user_menu .avatar {
    height: 20px;
    width: 20px;
    position: absolute;
    left: 2px;
    top: 2px;
    display: block; 
  }
}