@mixin page-layout {
  
  header {
    @include container;
    @include container-background($main-content-bg-color);
  }

  #main {
    @include container;
    @include container-background($main-content-bg-color);
    position: relative;
    
    #sidebar {
      position: absolute;
      left: 30px;
      top: 10px;
      line-height: 1.2em;
      width: 150px;
    } 
    
    #content {
      min-height:  300px;
      padding-left: 220px;
      padding-top: 10px;
    }
  }

  footer {
    @include container;
    @include container-background($main-content-bg-color);
  }
}