@import "compass/css3";
//@import "960/grid";
// Don't move this @import above the GRID and FONT-SIZE variables.
@import "susy/susy";

//-----------------------------------
// Add your own custom styles below
//-----------------------------------
/* Layout -------------------------------------------------------------- */

@include susy;

#container {
  @include container;
  @include show-grid("grid.png");
  header {
    @include full;
    margin-top: $section-margin-top;
    
    #branding {
      @include columns(6);
      @include alpha;
      #logo {
        @include columns(3, 6);
      }
      #tagline {
        @include columns(3, 6);
        @include omega(9);//so that no right margin
      }
    }    
    #nav {
      @include columns(6);
      @include omega; //add right gut
    }
  }
  
  #main {
    @include full;
    margin-top: $section-margin-top/2;
  }

  footer {
    @include full;
    margin-top: $section-margin-top;
  }
}

header {
  #branding {   
    text-align: center;
  }
  #nav {
    font-family: 'CaviarDreamsRegular', Helvetica, sans-serif;
  	text-align: right;
  	font-size: 1em;
  	color: #494949;  	
  	ul {
    	list-style: none;
    	float: right;
    }

    ul li {
    	float: left;
    	margin-right: 0.75em;
    }
  	a, ul {
    	color: #000;
    	text-decoration: none;
    }

    a:hover {
    	text-decoration: underline;
    }    
  }  
  
}


.logo {
  font-family: 'Lobster13Regular', Helvetica, sans-serif;
	font-weight: normal;
	font-size: 2em;
	margin-bottom: 0;
	margin-top: -10px;
}
.tagline {
  font-size: 1.5em;
	font-family: 'CaviarDreamsRegular', Helvetica, sans-serif;
}
