@import "compass/css3";

//copy from http://www.allapis.com/The-Golden-Grid/typography.html

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
@mixin basic-typography {
  body, select, input, textarea {
    color: $font-color;
    // Set your base font here, to apply evenly
    // font-family: Georgia, serif;
    //font-family: "宋体", sans-serif, Verdana, Lucida, Arial;
    font-family: "Microsoft Yahei",Tahoma,Arial,Helvetica,STHeiti,sans-serif;
    background: none repeat scroll 0 0 #EBEBEB;
  }

  a, a:active, a:visited { color: $link-color; }
  a:hover { color: $link-hover-color; }

  strong, th {
    font-weight: bold;
  }

  small {
    // Use font-size mixin to convert to percentage for YUI
    // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
    @include font-size(11px);  // approx 85% when base-font-size eq 13px
  } 

  p { padding:0 0  1em 0;color:$font-color;}


  p.first:first-letter{ float:left;font-family: Palatino,'Palatino Linotype',Georgia, sans-serif;font-size:3em;font-weight:700;line-height:1em;margin-bottom:-0.2em;padding:0.2em 0.1em 0 0; }
  p img       { float: left; margin: 0.3em 0.833em 0.833em 0; padding: 0; }
  p img.right { float: right; margin: 0.3em  0 0.833em 0.833em;  }


  h1,h2{ font-weight:normal; color: $heading-font-color; font-family:Georgia, "Times New Roman", serif;  }
  h3,h4,h5,h6 { font-weight: normal; color: $heading-font-color; font-family:Georgia, "Times New Roman", serif; }


  h1 { font-size: 2.2em;  margin-bottom: 0.682em; }
  h2 { font-size: 1.9em;  margin-bottom: 0.79em; }
  h3 { font-size: 1.7em;  margin-bottom: 0.882em; }
  h4 { font-size: 1.4em;  margin-bottom: 1.071em; }
  h5,h6 { font-size: 1.3em;  margin-bottom: 1.154em; }
}

@mixin general-form-style {
  textarea,
  input[type="text"],
  input[type="url"],
  input[type="email"],
  input[type="password"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 7px;
    background: #fff;
    font-size: .9em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #b9b9b9;
  }

  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder,
  input::-moz-placeholder,
  textarea::-moz-placeholder,
  .placeholder {
    color: #959595;
  }

  input[type="submit"],
  input[type="button"],
  button,
  .button {
    display: inline-block;
    background: transparent url(/images/buttons/Orange-Normal.png) center no-repeat;
    border: none;
    color: #fff;
    height: 39px;
    width: 146px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-size: .9em;
    font-weight: bold;
    margin-bottom: 9px;
    line-height: 39px;
    text-shadow: 0px -1px 0px #333333;
    cursor: pointer;
  }
  input[type="submit"].wide,
  input[type="button"].wide,
  button.wide,
  .button.wide {
    width: 282px;
    background-image: url(/images/buttons/Orange-Wide.png);
  }
  input[type="submit"].special,
  input[type="button"].special,
  button.special,
  .button.special {
    background-image: url(/images/buttons/Orange-Special-Normal.png);
  }
  input[type="submit"].special.wide,
  input[type="button"].special.wide,
  button.special.wide,
  .button.special.wide {
    background-image: url(/images/buttons/Orange-Special-Wide.png);
  }
  input[type="submit"].gray,
  input[type="button"].gray,
  button.gray,
  .button.gray {
    background-image: url(/images/buttons/Gray-Normal.png);
  }
  input[type="submit"].gray.wide,
  input[type="button"].gray.wide,
  button.gray.wide,
  .button.gray.wide {
    background-image: url(/images/buttons/Gray-Wide.png);
  }
  input[type="submit"].black,
  input[type="button"].black,
  button.black,
  .button.black {
    background-image: url(/images/buttons/Black-Normal.png);
  }
  input[type="submit"].black.wide,
  input[type="button"].black.wide,
  button.black.wide,
  .button.black.wide {
    background-image: url(/images/buttons/Black-Wide.png);
  }

  a.button:hover {
    text-decoration: none;
  }
}