@import "compass/css3";

//copy from http://www.allapis.com/The-Golden-Grid/typography.html

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
@mixin basic-typography {
  body, select, input, textarea {
    color: $font-color;
    // Set your base font here, to apply evenly
    // font-family: Georgia, serif;
    //font-family: "宋体", sans-serif, Verdana, Lucida, Arial;
    font-family: "Microsoft Yahei",Tahoma,Arial,Helvetica,STHeiti,sans-serif;
    background: none repeat scroll 0 0 #EBEBEB;
  }

  a, a:active, a:visited { color: $link-color; }
  a:hover { color: $link-hover-color; }

  strong, th {
    font-weight: bold;
  }

  small {
    // Use font-size mixin to convert to percentage for YUI
    // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
    @include font-size(11px);  // approx 85% when base-font-size eq 13px
  } 

  p { padding:0 0  1em 0;color:$font-color;}


  p.first:first-letter{ float:left;font-family: Palatino,'Palatino Linotype',Georgia, sans-serif;font-size:3em;font-weight:700;line-height:1em;margin-bottom:-0.2em;padding:0.2em 0.1em 0 0; }
  p img       { float: left; margin: 0.3em 0.833em 0.833em 0; padding: 0; }
  p img.right { float: right; margin: 0.3em  0 0.833em 0.833em;  }


  h1,h2{ font-weight:normal; color: $heading-font-color; font-family:Georgia, "Times New Roman", serif;  }
  h3,h4,h5,h6 { font-weight: normal; color: $heading-font-color; font-family:Georgia, "Times New Roman", serif; }


  h1 { font-size: 2.2em;  margin-bottom: 0.682em; }
  h2 { font-size: 1.9em;  margin-bottom: 0.79em; }
  h3 { font-size: 1.7em;  margin-bottom: 0.882em; }
  h4 { font-size: 1.4em;  margin-bottom: 1.071em; }
  h5,h6 { font-size: 1.3em;  margin-bottom: 1.154em; }
}