/* ------------------------------------------------------------------------- */
/* variables                                                                 */
#wowo_form {
  border-top-left-radius: 10px;
  -moz-border-radius-top-left: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-top-right: 10px;
  -webkit-border-top-right-radius: 10px;
  position: relative;
  width: 760px;
  color: white;
  background-color: #292929;
  margin: 0px 10px;
  padding: 1px 0px 0px;
  /* theme browser */
}
#wowo_form label {
  display: block;
  margin: 25px 10px 0px 25px;
}
#wowo_form #wowo_settings {
  position: absolute;
  right: 20px;
  top: 48px;
}
#wowo_form #wowo_title,
#wowo_form #wowo_theme {
  margin-bottom: 12px;
}

#wowo_form #zap_title input {
  margin: 0px 10px 0px 25px;
  width: 530px;
}
#wowo_form #theme_browser {
  width: 720px;
  height: 342px;
  margin: 0px auto;
}
#wowo_form #theme_browser .arrow {
  width: 54px;
  height: 342px;
  cursor: pointer;
}
#wowo_form #theme_browser #left_arrow {
  float: left;
  background: url(/images/editor/LeftThemeScroller.png) top no-repeat;
}
#wowo_form #theme_browser #right_arrow {
  float: right;
  background: url(/images/editor/RightThemeScroller.png) top no-repeat;
}
#wowo_form #theme_browser #themes_frame {
  padding: 12px 6px;
  overflow: hidden;
  height: 318px;
  background: url(/images/editor/theme_scroller_bg.png) repeat-x;
  border: none;
  position: relative;
}
#wowo_form #theme_browser #themes {
  width: 9999px;
}
#wowo_form #theme_browser .theme {
  float: left;
  display: block;
  padding: 0px 7px;
  width: 190px;
  height: 310px;
  position: relative;
  cursor: pointer;
}
#wowo_form #theme_browser .theme img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 190px;
  height: 310px;
  z-index: 0;
}
#wowo_form #theme_browser .theme .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 190px;
  height: 310px;
  z-index: 1;
  opacity: .5;
  background-color: #000;
  /* ie */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
#wowo_form #theme_browser .theme.selected .overlay {
  display: none;
}


#wowo_form #wowo_url {
  margin: 0px 10px 0px 37px;
  padding-bottom: 12px;
  width: 530px;
  display: none;
}
#wowo_form #wowo_url a {
  color: #ff6600;
  text-decoration: none;
}
#wowo_form #component_panel_top {
  height: 4px;
  background: url(/images/editor/component_panel_top.png);
}
#wowo_form #component_panel_bottom {
  height: 43px;
  background: url(/images/editor/component_panel_bottom.png);
}
#wowo_form #component_panel {
  padding: 0px 0px 25px 0px;
  background: url(/images/editor/component_panel_bg.png) repeat-y;
}
#wowo_form #component_panel .component_insert_point {
  padding: 25px 0px;
  margin: 0px 30px 0px 53px;
  width: 678px;
  height: 15px;
  background: url(/images/editor/component_insert_point.png) center no-repeat;
}
#wowo_form #component_panel #component_insert_prompt {
  margin-top: -25px;
  margin-left: 190px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  padding-bottom: 20px;
}
#wowo_form #component_panel .component_top {
  width: 585px;
  height: 21px;
  background: url(/images/editor/component_top.png);
  margin: 0px 0 0px 120px;
}
#wowo_form #component_panel .component_bottom {
  width: 589px;
  height: 24px;
  background: url(/images/editor/component_bottom.png);
  margin: 0px 0 0px 120px;
}
#wowo_form #component_panel .component {
  position: relative;
  margin: 0px 0 0px 120px;
  padding: 0px 24px 0px 25px;
  background: url(/images/editor/component_bg.png) repeat-y;
  width: 540px;
  cursor: move;
}
#wowo_form #component_panel .component textarea {
  overflow: auto;
}
#wowo_form #component_panel .component textarea,
#wowo_form #component_panel .component input[type="text"],
#wowo_form #component_panel .component input[type="url"],
#wowo_form #component_panel .component .inputtext,
#wowo_form #component_panel .component .inputurl {
  width: 540px;
}
#wowo_form #component_panel .component.text_component input[type="text"], #wowo_form #component_panel .component.link_component input[type="url"], #wowo_form #component_panel .component.picture_component .picture {
  margin-bottom: 22px;
}
#wowo_form #component_panel .component textarea {
  min-height: 60px;
}
#wowo_form #component_panel .component .picture {
  height: 540px;
  width: 540px;
}
#wowo_form #component_panel .component .delete_button {
  position: absolute;
  width: 44px;
  height: 54px;
  background: url(/images/editor/delete_button.png) no-repeat;
  border: none;
  top: -21px;
  right: -40px;
  cursor: pointer;
}
#wowo_form #component_panel .component label {
  margin: 0px;
  padding: 0px;
}

.swfupload {
  background-color: #000;
}

#component_templates {
  display: none;
}

.show_component_action_panel {
  border: 1px solid #cfcfcf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  margin: 0px auto 10px;
  display: block;
  width: 30px;
  height: 30px;
}

#component_action_panel {
  background: url(/images/editor/component_action_panel.png);
  position: absolute;
  width: 87px;
  height: 30px;
  padding: 12px 9px 10px;
}
#component_action_panel .button {
  margin: 0px;
  padding: 0px;
  border: none;
  background: url(/images/editor/EditorButtons.png) no-repeat;
  width: 29px;
  height: 30px;
  display: inline-block;
  /* ie7 */
  zoom: 1;
  *display: inline;
  _height: 30px;
}
#component_action_panel #add_link {
  background-position: top right;
}
#component_action_panel #add_link:hover {
  background-position: bottom right;
}
#component_action_panel #add_text {
  background-position: top left;
}
#component_action_panel #add_text:hover {
  background-position: bottom left;
}

#wowo_action_panel {
  position: fixed;
  left: 50%;
  bottom: 35px;
  margin-left: -492px;
  width: 184px;
  height: 154px;
  background: url(/images/editor/wowo_action_panel_bg.png) no-repeat;
}
#wowo_action_panel button {
  padding: 0px;
  background: transparent;
  cursor: pointer;
  height: 31px;
  line-height: 31px;
}
#wowo_action_panel #publish_button {
  margin: 21px 0px 0px 23px;
}
#wowo_action_panel #preview_button {
  margin: 9px 0px 0px 23px;
}
#wowo_action_panel #delete_button {
  margin: 9px 0px 0px 23px;
}

.popup {
  background-color: #efefec;
  padding: 16px;
}
.popup p {
  font-size: .8em;
}
.popup input[type="submit"],
.popup input[type="button"],
.popup button,
.popup .button,
.popup textarea {
  display: block;
  margin: 0px auto 9px;
}
.popup .share {
  width: 288px;
  height: 47px;
  margin: 0px auto;
  background-image: url(/images/buttons/Share-Unselected.png);
}
.popup .share.selected {
  background-image: url(/images/buttons/Share-Selected.png);
}

#settings.popup {
  top: 50%;
  left: 50%;
  width: 320px;
  margin-left: -160px;
}

#publish.popup {
  top: 50%;
  left: 50%;
  width: 320px;
  margin-top: -230px;
  margin-left: -160px;
}
#publish.popup textarea {
  width: 288px;
  height: 160px;
}

#published {
  top: 50%;
  left: 50%;
  width: 320px;
  height: 150px;
  margin-top: -75px;
  margin-left: -160px;
}

#publishing, #uploading_image {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 280px;
  height: 190px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: -140px;
  margin-left: -95px;
  display: none;
}


/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */
	
.jqmWindow {
    display: none;
    
    position: fixed;
    top: 17%;
    left: 50%;
    
    margin-left: -300px;
    width: 600px;
    
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}