/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 42, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_reset.scss */
nav ul {
  list-style: none;
}

/* line 44, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 47, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 49, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_reset.scss */
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 51, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 53, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 55, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 57, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 61, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 63, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 65, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 10, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_helpers.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 12, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 14, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 16, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

@media print {
  /* line 24, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important;
  }

  /* line 26, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 28, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_media.scss */
  a:after {
    content: " (" attr(href) ")";
  }

  /* line 30, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_media.scss */
  abbr:after {
    content: " (" attr(title) ")";
  }

  /* line 32, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after {
    content: "";
  }

  /* line 34, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 36, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 38, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 42, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 44, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}

@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
@media screen and (max-device-width: 480px) {}
/* line 4, ../../app/stylesheets/partials/_base-styles.scss */
body, select, input, textarea {
  color: #4c4c4c;
}

/* line 6, ../../app/stylesheets/partials/_base-styles.scss */
html {
  overflow-y: scroll;
}

/* line 8, ../../app/stylesheets/partials/_base-styles.scss */
a, a:active, a:visited {
  color: #607890;
}

/* line 9, ../../app/stylesheets/partials/_base-styles.scss */
a:hover {
  color: #003366;
}

/* line 11, ../../app/stylesheets/partials/_base-styles.scss */
ul, ol {
  margin-left: 1.8em;
}

/* line 12, ../../app/stylesheets/partials/_base-styles.scss */
ol {
  list-style-type: decimal;
}

/* line 14, ../../app/stylesheets/partials/_base-styles.scss */
td, td img {
  vertical-align: top;
}

/* line 16, ../../app/stylesheets/partials/_base-styles.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* line 18, ../../app/stylesheets/partials/_base-styles.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 60, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 65, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_styles.scss */
pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 77, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_styles.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 78, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_styles.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 79, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_styles.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 80, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_styles.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 85, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_styles.scss */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 97, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 98, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 103, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_styles.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 118, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 120, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* embed special fonts */
@font-face {
  font-family: 'Lobster13Regular';
  src: url("fonts/Lobster_1.3-webfont.eot");
  src: local("‚ò∫"), url("fonts/Lobster_1.3-webfont.woff") format("woff"), url("fonts/Lobster_1.3-webfont.ttf") format("truetype"), url("fonts/Lobster_1.3-webfont.svg#webfontHqICmWr8") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaviarDreamsRegular';
  src: url("fonts/CaviarDreams-webfont.eot");
  src: local("‚ò∫"), url("fonts/CaviarDreams-webfont.woff") format("woff"), url("fonts/CaviarDreams-webfont.ttf") format("truetype"), url("fonts/CaviarDreams-webfont.svg#webfontdHSnsI35") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Layout -------------------------------------------------------------- */
/* line 29, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/compass-susy-plugin-0.8.1/sass/susy/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 33, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/compass-susy-plugin-0.8.1/sass/susy/_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

/* line 13, ../../app/stylesheets/partials/_page.scss */
#container {
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  width: 61em;
  max-width: 100%;
  background-image: url('/images/grid.png?1275641046');
  background-repeat: repeat;
  background-position: 1em 0;
}
/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p0@railstemplate/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 16, ../../app/stylesheets/partials/_page.scss */
#container header {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  margin-top: 40px;
}
/* line 20, ../../app/stylesheets/partials/_page.scss */
#container header #branding {
  display: inline;
  float: left;
  width: 47.541%;
  margin-right: 1.639%;
  margin-left: 1.639%;
}
/* line 23, ../../app/stylesheets/partials/_page.scss */
#container header #branding #logo {
  display: inline;
  float: left;
  width: 48.276%;
  margin-right: 3.448%;
}
/* line 26, ../../app/stylesheets/partials/_page.scss */
#container header #branding #tagline {
  display: inline;
  float: left;
  width: 48.276%;
  margin-right: 3.448%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 31, ../../app/stylesheets/partials/_page.scss */
#container header #nav {
  display: inline;
  float: left;
  width: 47.541%;
  margin-right: 1.639%;
  display: inline;
  float: right;
  margin-right: 1.639%;
  #margin-left: -1em;
}
/* line 37, ../../app/stylesheets/partials/_page.scss */
#container #main {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  margin-top: 20px;
}
/* line 42, ../../app/stylesheets/partials/_page.scss */
#container footer {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  margin-top: 40px;
}

/* line 49, ../../app/stylesheets/partials/_page.scss */
header #branding {
  text-align: center;
}
/* line 52, ../../app/stylesheets/partials/_page.scss */
header #nav {
  font-family: 'CaviarDreamsRegular', Helvetica, sans-serif;
  text-align: right;
  font-size: 17px;
  color: #494949;
}
/* line 57, ../../app/stylesheets/partials/_page.scss */
header #nav ul {
  list-style: none;
  float: right;
}
/* line 62, ../../app/stylesheets/partials/_page.scss */
header #nav ul li {
  float: left;
  margin-right: 12px;
}
/* line 66, ../../app/stylesheets/partials/_page.scss */
header #nav a, header #nav ul {
  color: #000;
  text-decoration: none;
}
/* line 71, ../../app/stylesheets/partials/_page.scss */
header #nav a:hover {
  text-decoration: underline;
}

/* line 79, ../../app/stylesheets/partials/_page.scss */
.logo {
  font-family: 'Lobster13Regular', Helvetica, sans-serif;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 0;
  margin-top: -10px;
}

/* line 86, ../../app/stylesheets/partials/_page.scss */
.tagline {
  font-size: 25px;
  font-family: 'CaviarDreamsRegular', Helvetica, sans-serif;
}
