/* line 14, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 31, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 33, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 35, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 37, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 39, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 41, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 43, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 45, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 11, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.231;
  *font-size: small;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_fonts.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 15, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_styles.scss */
html {
  overflow-y: scroll;
}

/* line 67, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 19, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_styles.scss */
ul, ol {
  margin-left: 2em;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_styles.scss */
ol {
  list-style-type: decimal;
}

/* line 136, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_styles.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_styles.scss */
td {
  vertical-align: top;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_styles.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  bottom: -0.25em;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_styles.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
}

/* line 72, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_styles.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
  padding: 15px;
}

/* line 36, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_styles.scss */
textarea {
  overflow: auto;
}

/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_styles.scss */
ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 81, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_styles.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 82, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_styles.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 83, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_styles.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 84, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_styles.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 89, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_styles.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 94, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_styles.scss */
button, input, select, textarea {
  margin: 0;
}

/* line 99, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_styles.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

/* line 102, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_styles.scss */
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 109, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 110, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 115, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 126, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_styles.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 130, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 10, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_helpers.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 12, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 14, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 50, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 16, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 10, ../../app/stylesheets/partials/_typography.scss */
body, select, input, textarea {
  color: #3e3a39;
  font-family: "Microsoft Yahei",Tahoma,Arial,Helvetica,STHeiti,sans-serif;
  background: none repeat scroll 0 0 #EBEBEB;
}

/* line 19, ../../app/stylesheets/partials/_typography.scss */
a, a:active, a:visited {
  color: #607890;
}

/* line 20, ../../app/stylesheets/partials/_typography.scss */
a:hover {
  color: #003366;
}

/* line 22, ../../app/stylesheets/partials/_typography.scss */
strong, th {
  font-weight: bold;
}

/* line 26, ../../app/stylesheets/partials/_typography.scss */
small {
  font-size: 85%;
}

/* line 32, ../../app/stylesheets/partials/_typography.scss */
p {
  padding: 0 0  1em 0;
  color: #3e3a39;
}

/* line 35, ../../app/stylesheets/partials/_typography.scss */
p.first:first-letter {
  float: left;
  font-family: Palatino,'Palatino Linotype',Georgia, sans-serif;
  font-size: 3em;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: -0.2em;
  padding: 0.2em 0.1em 0 0;
}

/* line 36, ../../app/stylesheets/partials/_typography.scss */
p img {
  float: left;
  margin: 0.3em 0.833em 0.833em 0;
  padding: 0;
}

/* line 37, ../../app/stylesheets/partials/_typography.scss */
p img.right {
  float: right;
  margin: 0.3em  0 0.833em 0.833em;
}

/* line 40, ../../app/stylesheets/partials/_typography.scss */
h1, h2 {
  font-weight: normal;
  color: #333333;
  font-family: Georgia, "Times New Roman", serif;
}

/* line 41, ../../app/stylesheets/partials/_typography.scss */
h3, h4, h5, h6 {
  font-weight: normal;
  color: #333333;
  font-family: Georgia, "Times New Roman", serif;
}

/* line 44, ../../app/stylesheets/partials/_typography.scss */
h1 {
  font-size: 2.2em;
  margin-bottom: 0.682em;
}

/* line 45, ../../app/stylesheets/partials/_typography.scss */
h2 {
  font-size: 1.9em;
  margin-bottom: 0.79em;
}

/* line 46, ../../app/stylesheets/partials/_typography.scss */
h3 {
  font-size: 1.7em;
  margin-bottom: 0.882em;
}

/* line 47, ../../app/stylesheets/partials/_typography.scss */
h4 {
  font-size: 1.4em;
  margin-bottom: 1.071em;
}

/* line 48, ../../app/stylesheets/partials/_typography.scss */
h5, h6 {
  font-size: 1.3em;
  margin-bottom: 1.154em;
}

/* line 56, ../../app/stylesheets/partials/_typography.scss */
textarea,
input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 7px;
  background: #fff;
  font-size: .9em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #b9b9b9;
}

/* line 74, ../../app/stylesheets/partials/_typography.scss */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder,
.placeholder {
  color: #959595;
}

/* line 81, ../../app/stylesheets/partials/_typography.scss */
input[type="submit"],
input[type="button"],
button,
.button {
  display: inline-block;
  background: transparent url(/images/buttons/Orange-Normal.png) center no-repeat;
  border: none;
  color: #fff;
  height: 39px;
  width: 146px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: .9em;
  font-weight: bold;
  margin-bottom: 9px;
  line-height: 39px;
  text-shadow: 0px -1px 0px #333333;
  cursor: pointer;
}

/* line 101, ../../app/stylesheets/partials/_typography.scss */
input[type="submit"].wide,
input[type="button"].wide,
button.wide,
.button.wide {
  width: 282px;
  background-image: url(/images/buttons/Orange-Wide.png);
}

/* line 108, ../../app/stylesheets/partials/_typography.scss */
input[type="submit"].special,
input[type="button"].special,
button.special,
.button.special {
  background-image: url(/images/buttons/Orange-Special-Normal.png);
}

/* line 114, ../../app/stylesheets/partials/_typography.scss */
input[type="submit"].special.wide,
input[type="button"].special.wide,
button.special.wide,
.button.special.wide {
  background-image: url(/images/buttons/Orange-Special-Wide.png);
}

/* line 120, ../../app/stylesheets/partials/_typography.scss */
input[type="submit"].gray,
input[type="button"].gray,
button.gray,
.button.gray {
  background-image: url(/images/buttons/Gray-Normal.png);
}

/* line 126, ../../app/stylesheets/partials/_typography.scss */
input[type="submit"].gray.wide,
input[type="button"].gray.wide,
button.gray.wide,
.button.gray.wide {
  background-image: url(/images/buttons/Gray-Wide.png);
}

/* line 132, ../../app/stylesheets/partials/_typography.scss */
input[type="submit"].black,
input[type="button"].black,
button.black,
.button.black {
  background-image: url(/images/buttons/Black-Normal.png);
}

/* line 138, ../../app/stylesheets/partials/_typography.scss */
input[type="submit"].black.wide,
input[type="button"].black.wide,
button.black.wide,
.button.black.wide {
  background-image: url(/images/buttons/Black-Wide.png);
}

/* line 144, ../../app/stylesheets/partials/_typography.scss */
input[type="submit"].dark,
input[type="button"].dark,
button.dark,
.button.dark {
  background-image: url(/images/buttons/Dark.png);
  width: 141px;
  height: 32px;
  line-height: 32px;
}

/* line 152, ../../app/stylesheets/partials/_typography.scss */
a.button:hover {
  text-decoration: none;
}

/* line 156, ../../app/stylesheets/partials/_typography.scss */
.confirm {
  position: absolute;
  color: black;
  text-align: center;
  font-size: 1em;
  line-height: 1.2em;
}

/* line 163, ../../app/stylesheets/partials/_typography.scss */
.confirm p {
  padding-bottom: 0px;
  margin-bottom: 8px;
}

/* line 167, ../../app/stylesheets/partials/_typography.scss */
.confirm a {
  display: inline-block;
  text-transform: uppercase;
  height: 12px;
  color: black;
}

/* line 173, ../../app/stylesheets/partials/_typography.scss */
.confirm a.confirm_yes {
  color: #a0a094;
}

/* line 176, ../../app/stylesheets/partials/_typography.scss */
.confirm a:hover {
  color: black;
}

/* line 179, ../../app/stylesheets/partials/_typography.scss */
.confirm.pop_up {
  margin-top: -92px;
  margin-left: -32px;
  height: 72px;
  width: 155px;
  background: transparent url(/images/editor/confirm_wowo_delete.png) top left no-repeat;
  padding: 13px 25px 7px;
}

/* line 187, ../../app/stylesheets/partials/_typography.scss */
.confirm.pop_up a {
  width: 77px;
}

/* line 190, ../../app/stylesheets/partials/_typography.scss */
.confirm.pop_left {
  height: 64px;
  width: 130px;
  padding: 13px 30px 7px 20px;
  margin-left: -180px;
  margin-top: -9px;
  background: transparent url(/images/editor/confirm_component_delete.png) top left no-repeat;
}

/* line 198, ../../app/stylesheets/partials/_typography.scss */
.confirm.pop_left a {
  width: 65px;
}

/* errors, notices, warnings etc */
/* line 205, ../../app/stylesheets/partials/_typography.scss */
#flash_notice,
#flash_error,
#flash_alert {
  z-index: 100;
  position: fixed;
  color: white;
  top: -100px;
  left: 0;
  width: 100%;
  padding: 1em;
  -moz-box-shadow: 0 1px 2px #333333;
  -webkit-box-shadow: 0 1px 2px #333333;
  font-weight: bold;
}

/* line 218, ../../app/stylesheets/partials/_typography.scss */
#flash_notice {
  background-color: #7ef04d;
  background-color: rgba(126, 240, 77, 0.98);
  text-shadow: 0 1px #66cc66;
}

/* line 225, ../../app/stylesheets/partials/_typography.scss */
#flash_error,
#flash_alert {
  background-color: #d0312b;
  background-color: rgba(208, 49, 43, 0.98);
  border-bottom: solid 1px #cc6666;
  text-shadow: 0 1px #cc6666;
}

/* line 232, ../../app/stylesheets/partials/_typography.scss */
.fieldWithErrors {
  display: inline;
}

/* line 236, ../../app/stylesheets/partials/_typography.scss */
.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

/* line 245, ../../app/stylesheets/partials/_typography.scss */
.error_messages h2 {
  text-align: left;
  padding: 5px 5px 5px 15px;
  margin: 0;
  font-weight: bold;
  font-size: 12px;
  background-color: #cc0000;
}

/* line 253, ../../app/stylesheets/partials/_typography.scss */
.error_messages p {
  margin: 8px 10px;
}

/* line 256, ../../app/stylesheets/partials/_typography.scss */
.error_messages ul {
  margin: 0;
}

/* line 259, ../../app/stylesheets/partials/_typography.scss */
.bottom_notification {
  background-color: rgba(16, 127, 201, 0.8);
  bottom: 0;
  color: white;
  font-size: 14px;
  font-weight: bold;
  left: 0;
  padding: 12px 12px 10px;
  position: fixed;
  text-align: center;
  width: 100%;
}

/* line 3, ../../app/stylesheets/partials/_layout.scss */
header {
  *zoom: 1;
  margin: auto;
  width: 80em;
  max-width: 100%;
  background: none repeat scroll 0 0 white;
}
/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
header:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 8, ../../app/stylesheets/partials/_layout.scss */
#main {
  *zoom: 1;
  margin: auto;
  width: 80em;
  max-width: 100%;
  background: none repeat scroll 0 0 white;
  position: relative;
}
/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#main:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 13, ../../app/stylesheets/partials/_layout.scss */
#main #sidebar {
  position: absolute;
  left: 30px;
  top: 10px;
  line-height: 1.2em;
  width: 150px;
}
/* line 21, ../../app/stylesheets/partials/_layout.scss */
#main #content {
  min-height: 300px;
  padding-left: 220px;
  padding-top: 10px;
}

/* line 28, ../../app/stylesheets/partials/_layout.scss */
footer {
  *zoom: 1;
  margin: auto;
  width: 80em;
  max-width: 100%;
  background: none repeat scroll 0 0 white;
}
/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
footer:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* Nav --------------------------------------------------------------*/
/* line 3, ../../app/stylesheets/partials/_main-nav.scss */
#main_nav {
  background: #4c4c4c;
  height: 40px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* line 13, ../../app/stylesheets/partials/_main-nav.scss */
#main_nav ul {
  list-style: none;
  margin: 0 auto;
}
/* line 14, ../../app/stylesheets/partials/_main-nav.scss */
#main_nav li {
  float: left;
  display: inline;
  margin: 0;
}
/* line 16, ../../app/stylesheets/partials/_main-nav.scss */
#main_nav a:link, #main_nav a:visited {
  color: #fff;
  display: inline-block;
  height: 30px;
  padding: 5px 1.5em;
  text-decoration: none;
}
/* line 25, ../../app/stylesheets/partials/_main-nav.scss */
#main_nav a:hover, #main_nav a:active,
#main_nav .active a:link, #main_nav .active a:visited {
  background: #C74451;
  color: #fff;
  text-shadow: none !important;
}
/* line 32, ../../app/stylesheets/partials/_main-nav.scss */
#main_nav li:first-child a {
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
}

/* line 1, ../../app/stylesheets/partials/_header.scss */
header {
  z-index: 50;
  position: relative;
  min-height: 40px;
}
/* line 6, ../../app/stylesheets/partials/_header.scss */
header a:link, header a:visited {
  text-decoration: none;
}
/* line 10, ../../app/stylesheets/partials/_header.scss */
header a:hover, header a:active {
  background: none;
  text-shadow: none;
}
/* line 14, ../../app/stylesheets/partials/_header.scss */
header #current_user_link {
  pading-bottom: 2em;
}
/* line 17, ../../app/stylesheets/partials/_header.scss */
header #landing_nav {
  position: absolute;
  right: 0;
  top: 0px;
  margin: 0;
  padding: 0;
}
/* line 24, ../../app/stylesheets/partials/_header.scss */
header #landing_nav li {
  display: inline;
  margin-right: 0.5em;
}
/* line 31, ../../app/stylesheets/partials/_header.scss */
header ul#user_menu {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-shadow: 0 1px 0 #000;
  font-size: 1em;
  width: auto;
  cursor: pointer;
  z-index: 10;
  padding: 5px 5px 5px 30px;
  margin: -2px 0px 0 0;
  background-color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  display: inline;
  top: 5px;
  right: 0;
}
/* line 55, ../../app/stylesheets/partials/_header.scss */
header ul#user_menu a {
  padding-right: 15px;
  text-decoration: none;
}
/* line 60, ../../app/stylesheets/partials/_header.scss */
header ul#user_menu li {
  display: none;
}
/* line 62, ../../app/stylesheets/partials/_header.scss */
header ul#user_menu li a {
  display: block;
  padding: 4px;
  height: 100%;
}
/* line 67, ../../app/stylesheets/partials/_header.scss */
header ul#user_menu li a:hover {
  background-color: #ccc;
  color: #000;
}
/* line 73, ../../app/stylesheets/partials/_header.scss */
header ul#user_menu.active {
  margin-top: -3px;
  margin-right: -6px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px #ccc;
  -webkit-box-shadow: 0 1px 2px #ccc;
  -moz-box-shadow: 0 1px 2px #ccc;
}
/* line 81, ../../app/stylesheets/partials/_header.scss */
header ul#user_menu.active li {
  display: block;
}
/* line 86, ../../app/stylesheets/partials/_header.scss */
header #drop_down_symbol {
  position: absolute;
  right: 5px;
  font-size: 0.75em;
}
/* line 91, ../../app/stylesheets/partials/_header.scss */
header ul#user_menu .avatar {
  height: 20px;
  width: 20px;
  position: absolute;
  left: 2px;
  top: 2px;
  display: block;
}

/* line 2, ../../app/stylesheets/partials/_content-style.scss */
#main #sidebar a {
  color: #000;
  text-decoration: none;
}
/* line 7, ../../app/stylesheets/partials/_content-style.scss */
#main #sidebar a:hover {
  text-decoration: underline;
}
/* line 10, ../../app/stylesheets/partials/_content-style.scss */
#main #sidebar .h1 {
  font-size: 1.48em;
  padding-bottom: 8px;
  margin-bottom: 6px;
  border-bottom: double 4px #000;
}
/* line 16, ../../app/stylesheets/partials/_content-style.scss */
#main #sidebar .h2 {
  text-transform: uppercase;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 2px;
}
/* line 22, ../../app/stylesheets/partials/_content-style.scss */
#main #sidebar .h2 a {
  font-style: italic;
}
/* line 25, ../../app/stylesheets/partials/_content-style.scss */
#main #sidebar .h2 a.current {
  font-style: normal;
}
/* line 28, ../../app/stylesheets/partials/_content-style.scss */
#main #sidebar .h3 {
  padding-left: 8px;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 33, ../../app/stylesheets/partials/_content-style.scss */
#main #sidebar .h3 a.current {
  font-weight: bold;
}
/* line 36, ../../app/stylesheets/partials/_content-style.scss */
#main #sidebar .current {
  font-style: normal;
}
/* line 39, ../../app/stylesheets/partials/_content-style.scss */
#main #sidebar .wowo {
  padding-left: 16px;
  font-size: .8em;
}
/* line 43, ../../app/stylesheets/partials/_content-style.scss */
#main #sidebar .wowo, #main #sidebar .wowo a {
  color: #717171;
}

/* line 48, ../../app/stylesheets/partials/_content-style.scss */
.jqmOverlay {
  min-width: 2048px;
  min-height: 2048px;
}

/* line 53, ../../app/stylesheets/partials/_content-style.scss */
.popup {
  position: fixed;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-sizing: border-box;
  border-radius: 10px;
  display: none;
}

/* line 62, ../../app/stylesheets/partials/_content-style.scss */
.popup a.close {
  display: block;
  position: absolute;
  right: 10px;
  top: 2px;
  font-size: .7em;
  color: #b5b5ab;
}

/* line 70, ../../app/stylesheets/partials/_content-style.scss */
.popup.loading {
  background: white url(/images/ajax-loader.gif) center no-repeat;
}

/* line 73, ../../app/stylesheets/partials/_content-style.scss */
.popup iframe {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0px;
  padding: 0px;
}

/* line 1, ../../app/stylesheets/partials/_layout-footer.scss */
footer {
  text-align: center;
  height: 38px;
}
/* line 4, ../../app/stylesheets/partials/_layout-footer.scss */
footer img {
  vertical-align: middle;
  margin-left: 10px;
}

/* ------------------------------------------------------------------------- */
/* variables                                                                 */
/* line 3, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form {
  border-top-left-radius: 10px;
  -moz-border-radius-top-left: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-top-right: 10px;
  -webkit-border-top-right-radius: 10px;
  position: relative;
  width: 760px;
  color: white;
  background-color: #292929;
  margin: 0px 10px;
  padding: 1px 0px 0px;
  /* theme browser */
}

/* line 18, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form label {
  display: block;
  margin: 25px 10px 10px 25px;
}

/* line 22, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #wowo_settings {
  position: absolute;
  right: 20px;
  top: 48px;
}

/* line 28, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #wowo_title,
#wowo_form #wowo_theme {
  margin-bottom: 12px;
}

/* line 32, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #wowo_title input {
  margin: 0px 10px 0px 25px;
  width: 530px;
}

/* line 36, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #theme_browser {
  width: 720px;
  height: 342px;
  margin: 0px auto;
}

/* line 41, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #theme_browser .arrow {
  width: 54px;
  height: 342px;
  cursor: pointer;
}

/* line 46, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #theme_browser #left_arrow {
  float: left;
  background: url(/images/editor/LeftThemeScroller.png) top no-repeat;
}

/* line 50, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #theme_browser #right_arrow {
  float: right;
  background: url(/images/editor/RightThemeScroller.png) top no-repeat;
}

/* line 54, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #theme_browser #themes_frame {
  padding: 12px 6px;
  overflow: hidden;
  height: 318px;
  background: url(/images/editor/theme_scroller_bg.png) repeat-x;
  border: none;
  position: relative;
}

/* line 62, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #theme_browser #themes {
  width: 9999px;
}

/* line 65, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #theme_browser .theme {
  float: left;
  display: block;
  padding: 0px 7px;
  width: 190px;
  height: 310px;
  position: relative;
  cursor: pointer;
}

/* line 74, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #theme_browser .theme img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 190px;
  height: 310px;
  z-index: 0;
}

/* line 82, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #theme_browser .theme .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 190px;
  height: 310px;
  z-index: 1;
  opacity: .5;
  background-color: #000;
  /* ie */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}

/* line 95, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #theme_browser .theme.selected .overlay {
  display: none;
}

/* line 100, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #wowo_url {
  margin: 0px 10px 0px 37px;
  padding-bottom: 12px;
  width: 530px;
  display: none;
}

/* line 106, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #wowo_url a {
  color: #ff6600;
  text-decoration: none;
}

/* line 110, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #component_panel_top {
  height: 4px;
  background: url(/images/editor/component_panel_top.png);
}

/* line 114, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #component_panel_bottom {
  height: 43px;
  background: url(/images/editor/component_panel_bottom.png);
}

/* line 118, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #component_panel {
  padding: 0px 0px 25px 0px;
  background: url(/images/editor/component_panel_bg.png) repeat-y;
}

/* line 122, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #component_panel .component_insert_point {
  padding: 25px 0px;
  margin: 0px 30px 0px 53px;
  width: 678px;
  height: 15px;
  background: url(/images/editor/component_insert_point.png) center no-repeat;
}

/* line 129, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #component_panel #component_insert_prompt {
  margin-top: -25px;
  margin-left: 190px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  padding-bottom: 20px;
}

/* line 136, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #component_panel .component_top {
  width: 585px;
  height: 21px;
  background: url(/images/editor/component_top.png);
  margin: 0px 0 0px 120px;
}

/* line 142, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #component_panel .component_bottom {
  width: 589px;
  height: 24px;
  background: url(/images/editor/component_bottom.png);
  margin: 0px 0 0px 120px;
}

/* line 148, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #component_panel .component {
  position: relative;
  margin: 0px 0 0px 120px;
  padding: 0px 24px 0px 25px;
  background: url(/images/editor/component_bg.png) repeat-y;
  width: 540px;
  cursor: move;
}

/* line 156, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #component_panel .component textarea {
  overflow: auto;
}

/* line 163, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #component_panel .component textarea,
#wowo_form #component_panel .component input[type="text"],
#wowo_form #component_panel .component input[type="url"],
#wowo_form #component_panel .component .inputtext,
#wowo_form #component_panel .component .inputurl {
  width: 540px;
}

/* line 166, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #component_panel .component.text_component input[type="text"], #wowo_form #component_panel .component.link_component input[type="url"], #wowo_form #component_panel .component.picture_component .picture {
  margin-bottom: 22px;
}

/* line 169, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #component_panel .component textarea {
  min-height: 60px;
}

/* line 172, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #component_panel .component .picture {
  height: 540px;
  width: 540px;
}

/* line 176, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #component_panel .component .delete_button {
  position: absolute;
  width: 44px;
  height: 54px;
  background: url(/images/editor/delete_button.png) no-repeat;
  border: none;
  top: -21px;
  right: -40px;
  cursor: pointer;
}

/* line 186, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_form #component_panel .component label {
  margin: 0px;
  padding: 0px;
}

/* line 191, ../../app/stylesheets/partials/_wowo-form.scss */
.swfupload {
  background-color: #000;
}

/* line 195, ../../app/stylesheets/partials/_wowo-form.scss */
#component_templates {
  display: none;
}

/* line 199, ../../app/stylesheets/partials/_wowo-form.scss */
.show_component_action_panel {
  border: 1px solid #cfcfcf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  margin: 0px auto 10px;
  display: block;
  width: 30px;
  height: 30px;
}

/* line 211, ../../app/stylesheets/partials/_wowo-form.scss */
#component_action_panel {
  background: url(/images/editor/component_action_panel.png);
  position: absolute;
  width: 87px;
  height: 30px;
  padding: 12px 9px 10px;
}

/* line 218, ../../app/stylesheets/partials/_wowo-form.scss */
#component_action_panel .button {
  margin: 0px;
  padding: 0px;
  border: none;
  background: url(/images/editor/EditorButtons.png) no-repeat;
  width: 29px;
  height: 30px;
  display: inline-block;
  /* ie7 */
  zoom: 1;
  *display: inline;
  _height: 30px;
}

/* line 231, ../../app/stylesheets/partials/_wowo-form.scss */
#component_action_panel #add_link {
  background-position: top right;
}

/* line 234, ../../app/stylesheets/partials/_wowo-form.scss */
#component_action_panel #add_link:hover {
  background-position: bottom right;
}

/* line 237, ../../app/stylesheets/partials/_wowo-form.scss */
#component_action_panel #add_text {
  background-position: top left;
}

/* line 240, ../../app/stylesheets/partials/_wowo-form.scss */
#component_action_panel #add_text:hover {
  background-position: bottom left;
}

/* line 244, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_action_panel {
  position: fixed;
  left: 50%;
  bottom: 35px;
  margin-left: -492px;
  width: 184px;
  height: 154px;
  background: url(/images/editor/wowo_action_panel_bg.png) no-repeat;
}

/* line 253, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_action_panel button {
  padding: 0px;
  background: transparent;
  cursor: pointer;
  height: 31px;
  line-height: 31px;
}

/* line 260, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_action_panel #publish_button {
  margin: 21px 0px 0px 23px;
}

/* line 263, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_action_panel #preview_button {
  margin: 9px 0px 0px 23px;
}

/* line 266, ../../app/stylesheets/partials/_wowo-form.scss */
#wowo_action_panel #delete_button {
  margin: 9px 0px 0px 23px;
}

/* line 270, ../../app/stylesheets/partials/_wowo-form.scss */
.popup {
  background-color: #efefec;
  padding: 16px;
}

/* line 274, ../../app/stylesheets/partials/_wowo-form.scss */
.popup p {
  font-size: .8em;
}

/* line 281, ../../app/stylesheets/partials/_wowo-form.scss */
.popup input[type="submit"],
.popup input[type="button"],
.popup button,
.popup .button,
.popup textarea {
  display: block;
  margin: 0px auto 9px;
}

/* line 285, ../../app/stylesheets/partials/_wowo-form.scss */
.popup .share {
  width: 288px;
  height: 47px;
  margin: 0px auto;
  background-image: url(/images/buttons/Share-Unselected.png);
}

/* line 291, ../../app/stylesheets/partials/_wowo-form.scss */
.popup .share.selected {
  background-image: url(/images/buttons/Share-Selected.png);
}

/* line 295, ../../app/stylesheets/partials/_wowo-form.scss */
#settings.popup {
  top: 50%;
  left: 50%;
  width: 320px;
  margin-left: -160px;
}

/* line 302, ../../app/stylesheets/partials/_wowo-form.scss */
#publish.popup {
  top: 50%;
  left: 50%;
  width: 320px;
  margin-top: -230px;
  margin-left: -160px;
}

/* line 309, ../../app/stylesheets/partials/_wowo-form.scss */
#publish.popup textarea {
  width: 288px;
  height: 160px;
}

/* line 314, ../../app/stylesheets/partials/_wowo-form.scss */
#published {
  top: 50%;
  left: 50%;
  width: 320px;
  height: 150px;
  margin-top: -75px;
  margin-left: -160px;
}

/* line 323, ../../app/stylesheets/partials/_wowo-form.scss */
#publishing, #uploading_image {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 280px;
  height: 190px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: -140px;
  margin-left: -95px;
  display: none;
}

/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */
/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */
/* line 344, ../../app/stylesheets/partials/_wowo-form.scss */
.jqmWindow {
  display: none;
  position: fixed;
  top: 17%;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  background-color: #EEE;
  color: #333;
  border: 1px solid black;
  padding: 12px;
}

/* line 360, ../../app/stylesheets/partials/_wowo-form.scss */
.jqmOverlay {
  background-color: #000;
}

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
/* line 363, ../../app/stylesheets/partials/_wowo-form.scss */
* iframe.jqm {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: expression(this.parentNode.offsetWidth+'px');
  height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
/* line 371, ../../app/stylesheets/partials/_wowo-form.scss */
* html .jqmWindow {
  position: absolute;
  top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

@media print {
  /* line 24, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 26, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 27, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 28, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 29, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 30, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 31, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 32, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 34, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 35, ../../../../.rvm/gems/ruby-1.9.2-p0@wenhu.com/bundler/gems/compass-html5-boilerplate-6fb3a78ab2aa/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}

@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
@media screen and (max-device-width: 480px) {}
