%small.copyright
  Copyright &copy; #{Date.today.year} Free, unlimited, beautiful websites from your iPhone. <a href="http://itunes.apple.com/us/app/zapd/id426955081?mt=8&amp;ls=1"><img alt="Appstorebadge" src="/images/appStoreBadge.png?1303188845" /></a> 