-# %section#branding
-#  .logo#logo <strong><a href="/" title="Home">BaseApp</a></strong>
-#  .tagline#tagline= content_for?(:header) ? yield(:header) : controller.controller_name.titleize + "-"+ controller.action_name.titleize
%h2 <a href="/">BaseApp! <strong>Sample App</strong></a>